---
import { Image } from "@astrojs/image/components";
import { slugify, formatDate } from "../js/utils";
const { frontmatter, url, tagType } = Astro.props;
const Tag = tagType;
const { title, image, date, author, category, description } = frontmatter;
---

<article class="card grid-item">
  <small>
    <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
  </small>
  <a href={url} aria-hidden="true" tabIndex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="600"
      height="400"
      format="webp"
      fit="cover"
      quality={80}
      aspectRatio="12:4"
    />
  </a>
<div class="content">
      <Tag class="h2">
        <a href={url}>{title}</a>
      </Tag>
    </div>
    <small class="author">
      <a href={`/author/${slugify(author)}`}>{author}</a> • {
        formatDate(date)
      }
    </small>
    
</article>
